<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body class="d-flex justify-content-center align-items-center text-center vh-100">
<div th:switch="${model}">
    <div th:case="bank">
        <form class="form" th:method="post" th:action="@{/{id}/editBank(id = ${object.getId()})}" th:object="${object}">
            <h1 class="display-5 mb-4">Изменение банка</h1>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="name">Название</label>
                    <input class="form-control" type="text" id="name" placeholder="A" th:field="*{name}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="money">Баланс</label>
                    <input class="form-control" type="text" id="money" placeholder="A" th:field="*{money}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="concurrency">Валюта</label>
                    <input class="form-control" type="text" id="concurrency" placeholder="A" th:field="*{concurrency}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="address">Адрес</label>
                    <input class="form-control"  type="text" id="address" placeholder="A" th:field="*{address}">
                </div>
            </div>
            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Изменить">
        </form>
    </div>
    <div th:case="order">
        <form class="form" th:method="post" th:action="@{/{id}/editOrder(id = ${object.getId()})}" th:object="${object}">
            <h1 class="display-5 mb-4">Изменение заказа</h1>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="name">Название</label>
                    <input class="form-control" type="text" id="name" placeholder="A" th:field="*{name}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="date">Дата</label>
                    <input class="form-control" type="text" id="date" placeholder="A" th:field="*{date}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="price">Цена</label>
                    <input class="form-control" type="text" id="price" placeholder="A" th:field="*{price}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="address">Адрес</label>
                    <input class="form-control"  type="text" id="address" placeholder="A" th:field="*{address}">
                </div>
            </div>
            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Изменить">
        </form>
    </div>
    <div th:case="person">
        <form th:method="post" th:action="@{/{id}/editPerson(id = ${object.getId()})}" th:object="${object}">
            <h1 class="display-5 mb-4">Изменение человека</h1>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="name">Название</label>
                    <input class="form-control" type="text" id="name" placeholder="A" th:field="*{name}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="age">Возраст</label>
                    <input class="form-control" type="text" id="age" placeholder="A" th:field="*{age}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="passportSerial">Серия паспорта</label>
                    <input class="form-control" type="text" id="passportSerial" placeholder="A" th:field="*{passportSerial}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="passportNumber">Номер паспорта</label>
                    <input class="form-control"  type="text" id="passportNumber" placeholder="A" th:field="*{passportNumber}">
                </div>
            </div>
            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Изменить">
        </form>
    </div>
    <div th:case="product">
        <form th:method="post" th:action="@{/{id}/editProduct(id = ${object.getId()})}" th:object="${object}">
            <h1 class="display-5 mb-4">Изменение продукта</h1>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="number">Номер</label>
                    <input class="form-control" type="text" id="number" placeholder="A" th:field="*{number}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="name">Название</label>
                    <input class="form-control" type="text" id="name" placeholder="A" th:field="*{name}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="price">Цена</label>
                    <input class="form-control" type="text" id="price" placeholder="A" th:field="*{price}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="amount">Количество</label>
                    <input class="form-control" type="text" id="amount" placeholder="A" th:field="*{amount}">
                </div>
            </div>
            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Изменить">
        </form>
    </div>
    <div th:case="storage">
        <form th:method="post" th:action="@{/{id}/editStorage(id = ${object.getId()})}" th:object="${object}">
            <h1 class="display-5 mb-4">Изменение хранилища</h1>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="name">Название</label>
                    <input class="form-control" type="text" id="name" placeholder="A" th:field="*{name}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="address">Адрес</label>
                    <input class="form-control" type="text" id="address" placeholder="A" th:field="*{address}">
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label class="mb-1" for="capacity">Вместимость</label>
                    <input class="form-control" type="text" id="capacity" placeholder="A" th:field="*{capacity}">
                </div>
            </div>
            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Изменить">
        </form>
    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>